<!DOCTYPE html>
<html dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/Style.css" />
  <title>Login</title>
</head>

<body>
  <div class="login">
    <div class="loginChildren">

      <h1>تسجيل دخول</h1>
      <form action="/login" method="post">

        <label>اسم المستخدم</label>
        <input name="username" placeholder="اسم المستخدم ..." />

        <label>كلمة المرور</label>
        <input name="password" type="password" placeholder="كلمة المرور ..." class="form-control" />

        <div>

        </div>
          <button type="submit">دخول</button>
      </form>
    </div>

  </div>

</body>

</html>