<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <title> Rental </title>
  <link rel="stylesheet" href="/public/css/Style.css" />
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
  <!--sidebar-->
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-redux icon'></i>
      <div class="logo_name">Rental</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li class="side-search">
        <i class='bx bx-search'></i>
        <input type="text" placeholder="البحث...">
        <span class="tooltip">البحث</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name" id="liNameTest"> لوحة التحكم </span>
        </a>
        <span class="tooltip">لوحة التحكم</span>
        
      </li>
      <li>
        <a href="/daily">
          <i class='bx bx-user'></i>
          <span class="links_name">اليومية</span>
        </a>
        <span class="tooltip">اليومية</span>
        
      </li>
      <li>
        <a href="/index">
          <i class='bx bx-add-to-queue'></i>
          <span class="links_name">التسجيل</span>
        </a>
        <span class="tooltip">التسجيل</span>
        
      </li>
      <li>
        <a href="/Reports">
          <i class='bx bxs-report'></i>
          <span class="links_name">التقارير</span>
        </a>
        <span class="tooltip">التقارير</span>
        
      </li>

      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">الإعدادات</span>
        </a>
        <span class="tooltip">الإعدادات</span>
        
      </li>
      
    </ul>
    <li class="profile">
        <div class="profile-details">
          <img src="image/User.png" alt="profileImg">
          <div class="name_job">
            <div class="name">أبو اسامة</div>
            <div class="job">Admin</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out"></i>
      </li>
  </div>

    <!--table-->
    <section class="home-section" style="margin-inline: 18px;
    padding-block: 18px;">
      <div>

      
        <label>من</label>
        <input type="date" id="start" name="trip-start" min="2022-01-01" max="2025-12-31">
        <label>إلى</label>
        <input type="date" id="start" name="trip-start" value="2023-04-16" min="2022-01-01" max="2025-12-31">

        <table>
          <tbody id="emp_table" ondblclick="editable(event)">
            <th>التاريخ</th>
            <th>رقم اللوحة</th>
            <th>اسم المستثمر</th>
            <th>الأرباح</th>
            <th>المتبقي من رأس المال </th>
            <th>عمولة البيع</th>
            <th>عمولة الشراء</th>
            <th>عمولة التأجير</th>
            <th>الراتب </th>
            <th>حذف</th>

          </tbody>
        </table>
      </div>



    </div>
  </section>



  
  <script src="/public/js/Main.js" defer></script>
  <script src="/public/js/Reports.js" defer></script>
</body>

</html>